<header [class.header-shadow]="isScrolled">
    <div class="content-header">
        <h1 class="title-portfolio" (click)="scrollTo(introId)">Portfólio</h1>
        <nav class="navbar">
            <ul class="list-navbar">
                <li><a (click)="scrollTo(introId)">Início</a></li>
                <li><a (click)="scrollTo(aboutId)">Sobre</a></li>
                <li><a (click)="scrollTo(skillsId)">Skills</a></li>
                <li><a (click)="scrollTo(projectsId)">Projetos</a></li>
                <li><a (click)="scrollTo(contactId)">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>