header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
}

.header-shadow {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.title-portfolio {
    color: var(--color-1);
    cursor: pointer;
}

.list-navbar {
    display: flex;
    gap: 1.5rem;
}

.list-navbar li {
    list-style: none;
}

.list-navbar li a {
    text-decoration: none;
    color: var(--color-2);
    transition: 0.2s;
    cursor: pointer;
}

.list-navbar li a:hover {
    color: #000;
}

@media (max-width: 600px) {
    .content-header {
        flex-direction: column;
        align-items: center;
    }

    .list-navbar {
        justify-content: center;
        gap: 1.5rem;
    }
}

@media (max-width: 400px) {
    .list-navbar {
        gap: 1rem;
    }
}
