<header [class.header-shadow]="isScrolled">
    <div class="content-header">
        <h1 class="title-portfolio">Portfolio</h1>
        <nav class="navbar">
            <ul class="list-navbar">
                <li><a href="#about">Início</a></li>
                <li><a href="#projects">Sobre</a></li>
                <li><a href="#contact">Skills</a></li>
                <li><a href="#contact">Projetos</a></li>
                <li><a href="#contact">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>