section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    gap: 2rem;
    background-color: var(--color-7);
}

.title-contact {
    color: var(--color-4);
    font-size: 3rem;
}

span {
    color: var(--color-1);
}

.paragraph-contact {
    color: var(--color-2);
    width: 75%;
    text-align: center;
}

.content-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-6);
    padding: 2rem;
    border: 1px solid var(--color-8);
    border-radius: 1rem;
    transition: 0.2s;
    gap: 2rem;
}

.content-contact:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 10px rgba(109, 109, 109, 0.1);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
}

.pi {
    color: var(--color-1);
}

.email-contact, .github-contact, .linkedin-contact, .curriculum-contact {
    display: flex;
    align-items: center;
    border: 1px solid var(--color-8);
    border-radius: 0.75rem;
    gap: 1rem;
    padding: 1rem;
    transition: 0.2s;
    cursor: pointer;
}

.email-contact:hover, .github-contact:hover, .linkedin-contact:hover, .curriculum-contact:hover {
    border: 1px solid var(--color-1);
    background-color: var(--color-9);
}

.content-email {
    height: 100%;
}

.container-contact {
    width: 100%;
}

.text-contact {
    font-size: 1rem;
    font-weight: 500;
}

.paragraph-email, .paragraph-github, .paragraph-linkedin {
    color: var(--color-2);
    font-weight: 500;
}

.download-curriculum {
    text-decoration: none;
    color: var(--color-1);
    font-weight: 500;
    transition: 0.2s;
}

.download-curriculum:hover {
    color: var(--color-5);
}