section {
    display: flex;
    justify-content: center;
    background-color: var(--color-7);
    align-items: center;
    flex-direction: column;
    padding: 5rem 0;
    gap: 2rem;
}

.skills-title {
    font-size: 3rem;
}

span {
    color: var(--color-1);
}

.content-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.skill-item {
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    border: 1px solid var(--color-8);
    padding: 2rem;
    gap: 0.75rem;
    background-color: var(--color-6);
    transition: 0.2s;
}

.skill-item:hover {
    box-shadow: 0px 0px 20px 10px rgba(109, 109, 109, 0.1);;
    transform: translateY(-5px);
}

.pi {
    color: var(--color-1);
    font-size: 2.5rem;
}

.skill-text {
    font-weight: 500;
    color: var(--color-4);
}

.skill-paragraph {
    color: var(--color-2);
}