<footer>
    <div class="content-footer">
        <div class="content-links">
            <h2 class="text-links">Links Rápidos</h2>
            <a (click)="scrollTo(aboutId)" class="link-about">Sobre Mim</a>
            <a (click)="scrollTo(skillsId)" class="link-skills">Habilidades</a>
            <a (click)="scrollTo(educationId)" class="link-contact">Educação</a>
            <a (click)="scrollTo(projectsId)" class="link-projects">Projetos</a>
            <a (click)="scrollTo(contactId)" class="link-contact">contato</a>
        </div>

        <div class="content-contact">
            <h2 class="text-contact">Contato & Redes</h2>
            <a href="mailto:thiagohenrique1983c@gmail.com" class="link-email" >thiagohenrique1983c@gmail.com</a>
            <a href="https://www.linkedin.com/in/thiago-santos-29b5542b7/" target="_blank" class="link-linkedin">Linkedin</a>
            <a href="https://github.com/ThiagoSantos06" target="_blank" class="link-github">GitHub</a>
            <a href="" class="link-donwload-curriculum" href="assets/archives/curriculum.pdf" download="curriculum_Thiago">Baixar Currículo</a>
        </div>
    </div>
    
    <div class="line-separation">
        <div class="line"></div>

        <p class="rights-text">© 2025 Todos os direitos reservados.</p>
    </div>
</footer>