footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
}

.content-links, .content-contact, .content-language {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.text-contact, .text-links, .text-language {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-4);
}

a {
    text-decoration: none;
    color: var(--color-2);
    transition: 0.2s;
    width: min-content;
    text-wrap: nowrap;
    cursor: pointer;
}

a:hover {
    color: var(--color-5);
}

.container-language {
    background: #f3f4f6;
    border-radius: 999px;
    padding: 4px;
    border: 1px solid var(--color-2);
    width: fit-content;
}

.toggle-language {
    position: relative;
    display: flex;
    width: 90px;
    height: 32px;
    border-radius: 999px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.85rem;
}

.language-indicator {
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--color-1);
    border-radius: 999px;
    transition: transform 0.3s ease;
    z-index: 0;
}

.move-right {
    transform: translateX(100%);
}

.toggle-language span {
    flex: 1;
    text-align: center;
    z-index: 1;
    transition: color 0.3s ease;
}

.active-text {
    color: white;
}

.line-separation{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-8);
}

.rights-text {
    color: var(--color-2);
}

.link-download-curriculum {
    text-decoration: underline;
}

@media (max-width: 756px) {
    .content-footer {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .content-links, .content-contact, .content-language {
        align-items: center;
        text-align: center;
    }

    .container-language {
        margin: 0 auto;
    }
}