footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    gap: 2rem;
}

.content-footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 2rem;
}

.content-links, .content-contact {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.text-contact, .text-links {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-4);
}

a {
    text-decoration: none;
    color: var(--color-2);
    transition: 0.2s;
    width: min-content;
    text-wrap: nowrap;
    cursor: pointer;
}

a:hover {
    color: var(--color-5);
}

.line-separation{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-8);
}

.rights-text {
    color: var(--color-2);
}