/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-1: #3E84F6;
    --color-2: #79808C;
    --color-3: #000;
    --color-4: #0F1729;
    --color-5: #4E8EF6;
    --color-6: #fff;
    --color-7: #F5F5F7;
    --color-8: #D2D2D2;
    --color-9: #F5F9FE;
}